@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%)
  --white: hsl(0, 0%, 100%)
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100vw;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1em 1em;
  border-bottom: 1px solid black;
}

#header-nav {
  display: none;
}

#close {
  display: none;
}
